.nav {
    background-color: var(--clr-primary);
    height: 48px;
}

.logo {
    float: left;
    height:48px;
}

.logo img {
    max-width: 40px;
    float: left;
    margin: 4px 10px 4px 4px;
}

.logo h1 {
    margin: 10px 0 0 0;
    display: inline-block;
}

.links {
    margin: 0 1em;
    list-style: none;
    float: right;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0;
}

.links li {
    display: table;
    text-align: center;
}

.links li a {
    vertical-align: middle;
    display: table-cell;
}
